<h2 class="content-block">Itineraries</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="forecastDataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="Itinerary_ID"
    [width]="150"
    caption="Forecast ID"
    [hidingPriority]="0">
  </dxi-column>
  <dxi-column
    dataField="City_Name"
    [width]="200"
    caption="City"
    [hidingPriority]="1">
  </dxi-column>
  <dxi-column
    dataField="Country_Code"
    caption="Country Code"
    [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="Date"
    caption="Weather Date"
    [hidingPriority]="3">
  </dxi-column>
  <dxi-column
    dataField="Temperature"
    caption="Temperature"
    [hidingPriority]="4">
  </dxi-column>
  <dxi-column
    dataField="Clouds"
    caption="Weather Information"
    [hidingPriority]="5">
  </dxi-column>
</dx-data-grid>
